/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
body * {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, Sans-Serif;
  box-sizing: border-box;
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  padding: 0px !important;
  margin: 0;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body > div {
  max-width: 1200px;
  margin: 0 auto;
}

.bg {
  background: rgb(80,216,165);
  background: radial-gradient(circle, rgba(80,216,165,1) 0%, rgba(2,156,174,1) 100%);
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page {
  min-height: 100vh;
}

h4 {
  font-size: 20px;
  text-decoration: underline;
}

.bg a {
  color: white;
}

/*homepage*/
.home-image-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.home-image-stack > *:first-child {
  margin-top: auto;
}

.home-image-stack img {
  width: 300px;
}

nav {
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
}

nav ul {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 0;
}

@media (max-width: 400px) {
  nav ul {
    flex-direction: column;
  }
}

nav ul li {
  box-sizing: border-box;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  border-radius: 6px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

nav ul li a:hover {
  background-color: #6FD8BF;
  color: #169695;
}
